{% extends "base.html" %}
{% block title %} Clientes {% endblock %}
{% block content %}
    <div class="container">
        <h1>Cadastro de Clientes</h1>
        <form method="POST" action="">
            <!-- Perguntas Dinâmicas -->
            <label for="">Selecione a opção abaixo:</label>
            <select name="" id="">
                <option value="pessoa_fisica">Pessoa Física</option>
                <option value="pessoa_juridica">Pessoa Jurídica</option>
            </select>
        </form>
    </div>
    <div>
        <h1>Lista de Clientes</h1>
    </div>
{% endblock %}