<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Antônio Sistema</title>
</head>
<body>
    <h1>ANTÔNIO CARLOS</h1>

     <div>
        <a href="{{ url_for('clientes.clientes') }}"><button>CADASTRO DE CLIENTES</button></a>
        <a href="{{ url_for('produtos.produtos') }}"><button>CADASTRO DE PRODUTOS</button></a>
        <a href="{{ url_for('produtos.estoque') }}"><button>ESTOQUE</button></a>
        <a href="{{ url_for('pedidos.pedidos') }}"><button>PEDIDOS</button></a>
    </div>
   
</body>
</html>